// views styles

.not-front .view {
  padding: 20px 30px;
}

.view .row {
  border-bottom: 1px solid lighten($base-color, 15%);
  margin-bottom:  $vert-spacing * .5;
  padding-bottom:  $vert-spacing * .5;
	@include background-image(linear-gradient($dark-green 0%, $light-green 100%));
	@include box-shadow(0 0 1px darken($gray, 50%));
	border: 4px solid $white;
	padding: 1.5em;
	text-align: center;
  p:last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, p {
	  color: $white;
	  text-align: left;
  }
  
  a {
	  color: $white;
  }
	a.views-more-link {
		display: inline-block;
		@include background-image(linear-gradient($gray 0%, $white 100%));
		@include box-shadow(0 0 4px lighten($black, 15%), inset 0 0 2px $black);
		@include border-radius(20px);
		@include text-shadow(0 -1px 0 $white);
		@include trans-all;
		border: 1px solid $white!important;
		color: lighten($black, 15%);
		font-weight: bold;
		font-size: .9em;
		letter-spacing: .1em;
		padding: .75em 1.5em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .5em;
		text-align: center;
		position: relative;
		&:hover {
			@include border-radius(4px);
//		color: $light-green;
		}
		&:active {
			top: 1px;
		}
	}
}

.uc-catalog-terms td,
.uc-catalog-terms td span {
  color: $white;
}

.view-uc-catalog td a:link,
.view-uc-catalog td a:visited,
.view-uc-catalog td a.active,
.uc-catalog-terms  td a:link,
.uc-catalog-terms td a:visited,
.uc-catalog-terms td a.active, {
  color: $white;
}

.view-uc-catalog input[type="submit"] {
  border: 2px solid lighten($accent, 15%);
}

.view-front-feature img {
  display: block;
}

// product listing view

.view-product-listing  table tbody > tr:nth-child(odd) > td,
.view-product-listing  table tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}

.view-product-listing  table tbody > tr:nth-child(even) > td,
.view-product-listing  table tbody > tr:nth-child(even) > th {
  background-color: transparent;
}

.view-product-listing {
  tr {
    border-bottom: 1px solid lighten($base-color, 15%);
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    padding-left: 0;
    vertical-align: bottom;
  }
}

@media all and (min-width: $tab) {
	.view .row {
		@include clear-it;
		text-align: left;
		overflow: hidden;
		position: relative;		

		.left,
		.right {
			width: 35%;
			float: left;
		}
		.left {
			padding: 4rem 2rem 0 0;
		}
		.right {
			width: 65%;
		}

	  .fancy-header {
		  background-color: $brown;
			padding: .5em;
			padding-left: 1em;
			margin: -0.9em -1.5em 1.5em 0;
			position: relative;
			z-index: 2;
			&:before {
				position: absolute;
				top: 0;
				left: -1000px;
				width: 1000px;
				height: 63px;
				display: block;
				content: " ";
				background-color: $light-green;
				z-index: 1;
			}
	  }
	}

//
//	View left & right stagger
//
//	.view .even {
//		.left {
//			padding-left: 0;
//			padding-right: 1.5em;
//			float: right;
//		}
//	}

}

