// menu styles

ul li.leaf,
ul li.leaf {
  list-style: none;
}

.menu li a {
  display: block;
  position: relative;
  width: 100%;
}

.menu-block-1 {
  text-align: left;
  .menu {
    float: left;
    list-style: none;
    margin-bottom: 0;
  }
}

.js .menu-block-1 .menu {
  max-height: 0;
  overflow: hidden;
  &.toggled {
    max-height: 50em;
  }
  &.main-menu-2 {
    width: 200%;
  }
}

// multi-toggle styles

a.menu-link {
  background: url('../images/menu-icon.svg') no-repeat scroll 10px .9em $accent;
  color: $white !important;
  display: block;
  float: left;
  padding: .5em .5em .5em 40px;
}

.menu-block-1 .menu {
  background: $light-gray;
  clear: both;
  width: 100%;
  ul {
    clear: both;
  }
}

.menu-block-1 .menu li.expanded > a:after {
	content: '+';
	position: absolute;
	top: -10px;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}

.menu-block-1 .menu li.expanded > a.toggled:after {
  content: "-";
  top: -13px;
  right: 2px;
}

.menu-block-1 .menu li {
  clear: both;
  display: block;
  padding: .75em 20px;
}

.menu-block-1 .menu li.expanded {
  padding-bottom: 1.25em;
}

.menu-block-1 .menu li a,
a.menu-link {
  color: $link-color;
  font-family: $header-font-family;
  font-weight: 100;
}

.menu-block-1 .menu li a:hover,
.menu-block-1 .menu li a:focus,
.menu-block-1 .menu li a.toggled {
  color: darken($link-color, 15%);
  outline: none;
}

footer .region-footer p a:hover,
footer .region-footer p a:focus,
footer .region-footer p a.toggled {
	  color: darken($link-color, 30%);
}

.menu-block-1 .menu li ul  {
  background: $gray;
  clear: both;
  list-style: none;
  left: 20px;
  margin-bottom: 0;
  opacity: 1;
  top: 35px;
  @include trans-all;
  li {
    padding: .75rem .75rem .75rem 2rem;
    list-style: none;
    width: 200%;
    &:last-child {
      border-bottom: none;
    }
  }
}

.main-menu-2 {
  margin: .5em -20px -1em -100px;
  max-height: 50em;
  padding-left: 80px;
  padding-right: 150px;
  width: 150%;
}

.js .main-menu-2 {
  max-height: 0;
  overflow: hidden;
  @include trans-all;
  &.toggled {
    max-height: 50em;
    margin-bottom: 0;
  }
}


@media all and (min-width: $desk) {

	.menu-block-1 {
		text-align: right;
	}

  .js .menu-block-1 .menu {
    background-color: $white;
    max-height: none;
    overflow: visible;
    z-index: 1000;
  }

    .menu-block-1 .menu {
      margin-top: 0;
    }

  .menu-block-1 .menu li.expanded > a:after {
    content: '';
  }

  .menu-block-1 .menu li.expanded > a.toggled:after {
    content: '';
  }

  .menu-block-1 .menu li.expanded > a:after {
    content: '';
  }

  .menu-block-1 .menu li.expanded {
    padding-bottom: .5em;
  }

  .menu-block-1 .menu li  {
    border-top: none;
    padding: .5em 1em;
  }

  .menu-block-1 > ul li  {
    &.first {
      padding-left: 0;
    }
    &.last {
      border-right: none;
    }
  }

  .menu-block-1 .menu li {
    display: inline-block;
    font-size: $base-font-size * .7;
    position: relative;
    font-weight: 300;
  }

  a.menu-link {
      display: none;
  }

  .menu ul {
    display: none;
  }

  .menu li:hover > ul {
    display: block;
  }

  .js .menu-block-1 .main-menu-2  {
    border: 1px solid $light-gray;
		position: absolute;
		top: 2em;
		left: 7em;
		width: 12em;
		text-align: left;
    li {
      border-right: none;
      display: inline-block;
      margin-left: -5.25em;
      overflow: hidden;
      padding-left: .75em;
      position: relative;
      width: 15.2em;
      a {
        display: block;
      }
    }
	}

} //end media query


.region-sidebar-first .menu li,
.region-sidebar-second .menu li  {
  border-bottom: 1px solid $light-gray;
  margin-bottom: .5em;
  padding-bottom: .5em;
  padding-top: 0;
  &.last {
    border: none;
  }
}

// node edit menu styles

ul.primary {
  border-bottom: 1px solid $dark-gray;
   li {
    display: inline-block;
    list-style: none;
    background-color: $gray;
    border-color: $dark-gray;
    border-style: solid solid none solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    a {

      text-decoration: none;
    }
    &.toggled {
      background-color: $white;
    }
  }
}
