// misc styles

.gray-bg p {
  background: $gray;
  min-height: 200px;
}

.feed-icon {
  @include clear-it;
}

// admin menu

#admin-menu {
  font-size: $base-font-size * .75;
}

#admin-menu li.admin-menu-account > a {
  background: $accent;
}

#admin-menu .dropdown li li.expandable ul {
  margin: -27px 0 0 160px;
}

// CKEditor floated images in body field

.img-left {
  float: left;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: $pad * .5;
  max-width: 50%;
}

.img-right {
  float: right;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: $pad * .5;
  max-width: 50%;
}


// pager styles

ul.pager {
  background: none;
  border: none;
  display: inline-block;
  float: right;
  list-style: none;
  overflow: hidden;
  text-align: right;
}

ul.pager li {
  border: none;
  font-size: $base-font-size * .75;
  padding: .5em 0 .5em 1em;
}

ul.pager li a {
  border: none;
}

.pager li.pager-next,
.pager li.pager-previous {
  text-transform: capitalize;
}

.pager li.pager-current {
  font-weight: normal;
}

.pager li, .pager li.pager-next, .pager li.pager-previous, .pager li.pager-last, .pager li.pager-first {
  border: none;
  margin-left: 1em;
  position: relative;
  text-align: right;
}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
  display: inline-block;
}

.pager li.pager-next,
.pager li.pager-current {
  float: right;
}

.pager li.pager-previous {
  float: left;
}

.item-list .pager li {
  padding: .25em 1em;
}

// end pager styles


// node styles


// messages

.messages {
  &.error {
    background: $error;
    border: 2px solid #ce9e9e;
  }
  &.warning {
    background: $warning;
    border: 2px solid #e5d35b;
  }
  &.info {
    background: $info;
    border: 2px solid #9ebcce;
  }
  &.success {
    background: $success;
    border: 2px solid #9ece9e;
  }
  h2 {
    font-size: 1rem;
    font-weight: $body-font-weight;
  }
}

// messages
.messages.error,
.messages.warning,
.messages.info,
.messages.success {
  color: $black;
  margin-bottom: $vert-spacing;
  padding: 1rem;
  li {
    color: $black;
  }
}

// accessible invisibility
.element-invisible {
  @include element-invisible;
}

.clearfix:after {
  @include clear-it;
}

// bantam ad

.bantam {
	position: relative;
	overflow: hidden;
	@include background-image(linear-gradient($dark-green 0%, $light-green 100%));
	@include box-shadow(0 0 1px darken($gray, 50%));
	border: 4px solid $white;
	padding: 20px;
	margin-bottom: 2rem;
	
	.left,
	.right {
		width: 100%;
		text-align: center;
		@include breakpoint($tab) {
			width: 50%;
			float: left;
		}
	}
	
	.left {
		padding-right: 2rem;
	}
	
	.right {
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0%;
			bottom: 0;
			width: 100%;
			background-image: url('../images/leaf.svg');
			background-repeat: no-repeat;
			background-position: right top;
			background-size: 92%;
		}
	}
	
	h3, p {
		color: $white;		
	}
	
	img {
		width: 100%;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
	
	&:after {
		@include clear-it;
	}
}
