#page {
	@include background-image(linear-gradient($black 10%, $brown 25%));
}

#main {
	background-color: rgba($white, .3);
	border: 1px solid $white;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	.content-inner {
		background-color: $white;
		margin: 15px;
		overflow: hidden;
	}
}

// header
.header-wrapper,
.preface-wrapper {
  width: 100%;
}

.header-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336607), color-stop(100%, #79b01f));
  background-image: -webkit-linear-gradient(#336607, #79b01f);
  background-image: -moz-linear-gradient(#336607, #79b01f);
  background-image: -o-linear-gradient(#336607, #79b01f);
  background-image: linear-gradient(#336607, #79b01f);
  border-bottom: 1px solid #fefefe;
  overflow: hidden;
  margin-bottom: $vert-spacing;
}

.header {
	background-image: url('../images/leaf.svg');
	background-position: 100% -30%;
	background-repeat: no-repeat;
	background-size: 75%;
	overflow: hidden;
	@include breakpoint ($tab) {
		background-position: 100% 30%;
		background-size: 55%;				
	}
}

.grid-container.header {
	padding-top: .5em;
}

img.header__logo-image {
  width: 100%;
}

.header__logo-image {
  height: auto;
  margin-right: 1em;
  position: relative;
	width: 100%;
	max-width: 480px;
	display: block;
	margin: 0 auto;
	
	@include breakpoint($desk) {
	  float: left;		
	}
}

.header__name-and-slogan {
  float: left;
 }

.region-branding {
  float: left;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
  margin-top: -7px;
  margin-bottom: -90px;
  @include breakpoint($desk) {
    padding-bottom: 0;
  }
}

// preface region




// content region

#content {
  background: $base-color;
//  overflow: hidden;
}

#content .messages {
  margin-bottom: $vert-spacing * .5;
  padding: 20px;
  &.status {
    background: $info;
    border: 1px solid darken($info, 20%);
  }
}

.breadcrumb {
  li {
    display: inline-block;
    list-style: none;
    padding: 2rem 0;
    font-family: $sans;
    font-size: $base-font-size * .725;
  }
}

// postscript region


// footer region

.footer-wrapper {
	@include merlo-gradient-180;
	border-top: 1px solid $white;
	overflow: hidden;
	text-align: center;
	
	p {
		color: $white;
	}
	a {
		color: $link-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

footer {
  clear: both;
}

.region-footer {
  padding: 10px 15px;
}

.copyright {
  padding-bottom: 10px;
  p {
    float: left;
    font-size: $base-font-size * .625;
  }
}
