// views styles

.view .row {
  border-bottom: 1px solid lighten($base-color, 15%);
  margin-bottom:  $vert-spacing * .5;
  padding-bottom:  $vert-spacing * .5;
  p:last-child {
    margin-bottom: 0;
  }
}

.view .row.last {
  border-bottom: none;
}

.view-front-feature img {
  display: block;
}

// google news view
.view-google-news-feed .row {
  border-bottom: 1px solid $gray;
  margin-bottom:  0;
  overflow: hidden;
  padding-bottom:  0;
}
