// views styles

.view .row {
  margin-bottom:  $vert-spacing * .5;
  overflow: hidden;
  padding-bottom:  $vert-spacing * .5;
  p:last-child {
    margin-bottom: 0;
  }
}

.view .row.last {
  border-bottom: none;
}

.view-front-feature img {
  display: block;
}

// google news view
.view-google-news-feed .row {
  margin-bottom:  0;
  overflow: hidden;
  padding-bottom:  0;
}

.view-google-news-feed {
	.grid-1-2 {
		padding: 0 15px 0 0;
	}
	.more-link {
		margin-bottom: 1.5em;
	}
}

// commodity views

.commodity-table-header,
.pricing-grid-row {
  display: table;
  width: 100%;
  span {
    display: table-cell;
    width: 33%;
  }
}

.commodity-table-header {
  background: $gray;
  span {
    font-weight: bold;
  }
}

.commodity-table-header span:nth-child(2),
.commodity-table-header span:nth-child(3),
.pricing-grid-row span:nth-child(2),
.pricing-grid-row span:nth-child(3) {
  text-align: center;
}

// hide line break at top of news item
.j br {
  display: none;
}
