// header region
.header-wrapper {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header-wrapper,
.preface-wrapper {
  width: 100%;
}

.region-branding {
  overflow: hidden;
  margin-bottom: 2rem;
}

// preface region




// content region

.breadcrumb {
  padding: 1.5rem 0;
}

// footer region

footer {
  clear: both;
}
